USE [master]
GO
/****** Object:  Database [PoliziaMunicipale]    Script Date: 02/03/2024 11:00:22 ******/
CREATE DATABASE [PoliziaMunicipale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoliziaMunicipale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaMunicipale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PoliziaMunicipale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaMunicipale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoliziaMunicipale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoliziaMunicipale]
GO
/****** Object:  Table [dbo].[ANAGRAFICA]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANAGRAFICA](
	[idAnagrafica] [int] IDENTITY(1,1) NOT NULL,
	[cognome] [nvarchar](max) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[indirizzo] [nvarchar](max) NOT NULL,
	[citta] [nvarchar](max) NOT NULL,
	[CAP] [int] NOT NULL,
	[CF] [char](16) NOT NULL,
 CONSTRAINT [PK__ANAGRAFI__FFDE8391EA08E602] PRIMARY KEY CLUSTERED 
(
	[idAnagrafica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__ANAGRAFI__32149A798140005E] UNIQUE NONCLUSTERED 
(
	[CF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOVIOLAZIONE]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOVIOLAZIONE](
	[idViolazione] [int] IDENTITY(1,1) NOT NULL,
	[descrizione] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__TIPOVIOL__75080923D5EF654A] PRIMARY KEY CLUSTERED 
(
	[idViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERBALE]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERBALE](
	[idVerbale] [int] IDENTITY(1,1) NOT NULL,
	[dataViolazione] [date] NOT NULL,
	[indirizzoViolazione] [nvarchar](max) NOT NULL,
	[nominativoAgente] [nvarchar](max) NOT NULL,
	[dataTrascrizioneVerbale] [datetime] NOT NULL,
	[importo] [money] NOT NULL,
	[decurtamentoPunti] [int] NOT NULL,
	[idAnagrafica] [int] NOT NULL,
	[idViolazione] [int] NOT NULL,
 CONSTRAINT [PK__VERBALE__A0FAF453E6678721] PRIMARY KEY CLUSTERED 
(
	[idVerbale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[VERBALE]  WITH CHECK ADD  CONSTRAINT [FK_Anagrafica_Verbale] FOREIGN KEY([idAnagrafica])
REFERENCES [dbo].[ANAGRAFICA] ([idAnagrafica])
GO
ALTER TABLE [dbo].[VERBALE] CHECK CONSTRAINT [FK_Anagrafica_Verbale]
GO
ALTER TABLE [dbo].[VERBALE]  WITH CHECK ADD  CONSTRAINT [FK_TipoViolazione_Verbale] FOREIGN KEY([idViolazione])
REFERENCES [dbo].[TIPOVIOLAZIONE] ([idViolazione])
GO
ALTER TABLE [dbo].[VERBALE] CHECK CONSTRAINT [FK_TipoViolazione_Verbale]
GO
/****** Object:  StoredProcedure [dbo].[DettagliPerData]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DettagliPerData] @Data date

AS
BEGIN
	SELECT dataViolazione, Importo, decurtamentoPunti FROM VERBALE
	WHERE dataViolazione = @Data
END
GO
/****** Object:  StoredProcedure [dbo].[EliminaVerbale]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminaVerbale] @id int

AS
BEGIN

	DELETE FROM VERBALE
	WHERE idVerbale = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ListaVerbaliPerAnno]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListaVerbaliPerAnno] @Anno int

AS
BEGIN
	SELECT cognome, nome, indirizzo, dataViolazione, importo, decurtamentoPunti FROM VERBALE
	INNER JOIN ANAGRAFICA
	ON ANAGRAFICA.idAnagrafica = VERBALE.idAnagrafica
	WHERE YEAR(dataViolazione) = @Anno
END
GO
/****** Object:  StoredProcedure [dbo].[PuntiDecurtatiPerAnno]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PuntiDecurtatiPerAnno] @Anno int

AS
BEGIN
	SELECT year(dataViolazione) as Year, SUM(decurtamentoPunti) as TotPuntiPersi FROM VERBALE
	GROUP BY year(dataViolazione)
	HAVING YEAR(dataViolazione) = @Anno
END
GO
/****** Object:  StoredProcedure [dbo].[PuntiDecurtatiPerData]    Script Date: 02/03/2024 11:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PuntiDecurtatiPerData] @Data date
	
AS
BEGIN
	SELECT dataViolazione, SUM(decurtamentoPunti) as TotPuntiPersi FROM VERBALE
	GROUP BY dataViolazione
	HAVING dataViolazione = @Data
END
GO
USE [master]
GO
