@model PoliziaMunicipale.Models.Verbale

@{
    ViewData["Title"] = "Edit Verbale";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="DataViolazione" class="control-label"></label>
        <input asp-for="DataViolazione" class="form-control" type="date" />
        <span asp-validation-for="DataViolazione" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IndirizzoViolazione" class="control-label"></label>
        <input asp-for="IndirizzoViolazione" class="form-control" />
        <span asp-validation-for="IndirizzoViolazione" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Agente" class="control-label"></label>
        <input asp-for="Agente" class="form-control" />
        <span asp-validation-for="Agente" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataVerbale" class="control-label"></label>
        <input asp-for="DataVerbale" class="form-control" type="date" />
        <span asp-validation-for="DataVerbale" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Importo" class="control-label"></label>
        <input asp-for="Importo" class="form-control" />
        <span asp-validation-for="Importo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PuntiTolti" class="control-label"></label>
        <input asp-for="PuntiTolti" class="form-control" />
        <span asp-validation-for="PuntiTolti" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdTrasgressore" class="control-label"></label>
        <select asp-for="IdTrasgressore" asp-items="@(new SelectList(ViewBag.ListaTrasgressori, "Value", "Text"))" class="form-control"></select>
        <span asp-validation-for="IdTrasgressore" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdViolazione" class="control-label"></label>
        <select asp-for="IdViolazione" asp-items="@(new SelectList(ViewBag.ListaViolazioni, "Value", "Text"))" class="form-control"></select>
        <span asp-validation-for="IdViolazione" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
